*{
	margin: 0;
	padding: 0;
}
body{
	background:#fffffA ;
}
header {
	width: 100%;
}
header nav {
	width: 90%;
	margin: 20px auto;
	max-width:1000px;
	background: #d7d7c1;
	opacity: 0.5;
}
.barra-menu{
	display: none;
}
header nav ul {
	list-style: none;
	overflow: hidden;
}
header nav ul li {
float: left;
}
header nav ul li a{
	padding: 20px;
	display: block;
	text-decoration: none;
	color: black;
}
header nav ul li span {
	margin-right:10px;

}


.titulo{
		color:  #3d3d29;
		font-size: 100px;
		font-family: valeria;
		text-shadow: 12px, 12px, 13px, #ffe6f0;
		text-decoration: underline;
		text-align: center;
	}
@media screen and (max-width: 1800px){
	header nav{
		width: 80%;
		height: 100%;
		left: -100%;
		margin: 0;		
		position: fixed;
		z-index: 1000;
	}
	header nav ul li{
		display: block;
		float: none;
		
	}
	header nav ul li a:hover{
	background:#fff3e6;

}
	.barra-menu{
		display: block;
		width: 100%;
		background: #fffffA;
		padding: 20px;

	}
	.barra-menu .bt-menu {
		display: block;
		padding: 20px;
		background: #fffffA;
		color: black;
		font-weight: bold;
		font-size: 30px;
		text-decoration: none;
		box-sizing: border-box;
	}
	.barra-menu span {
		float: right; 

	}

